
body {
    height: 100vh;
    background: #dbe4ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 40px;
    background-color: #91a7ff;
    border-radius: 10px;
}
#add-task-container {
    width: 350px;
    padding: 20px 10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 10px 20px;
}

#add-task {
    flex: 1;
    transition: 0.3s;
    font-size: 1.2rem;
    padding: 10px 15px;
    background-color: #fff;
    color: lightgray;
    font-style: italic;
    border: black solid 2px;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#add-task:hover {
    background-color: #748ffc;
    color: #fff;
}

/* styling for tasks when added to the list */

.task {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 3px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.1rem;
    margin: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.3rem;
    padding: 5px;
}

.task .deleteTask {
    color: red;
    margin-right: 5px;
    border: solid 2px red;
    font-size: 1.3rem;
}

.task .checkTask:hover {
    background-color: orange ;
    color: #fff;
}

.task .deleteTask:hover {
    background-color: red;
    color:#fff;
}

.task .editTask {
    color: green;
    margin-right: 5px;
    border: solid 2px green;
    font-size: 1.5rem;
}

.task .editTask:hover {
    background-color: green;
    color: #fff;
}